/aclocal.m4
/autom4te.cache/

/config.cache
/config.h.in
/config.h
/config.log
/config.status
/configure

ar-lib
/compile
/depcomp
/missing
/install-sh
/stamp-h1

**/Makefile
**/Makefile.in

**/*.a
**/*.o
**/.deps/

src/chip8
